{% extends 'base.html.twig' %}
{% block title %}Page d'acceuil{% endblock %}
{% block body %}
    {# Header #}
    <section class="header animate__animated animate__fadeInLeft">
        <img class="profil_picture" src='{{ asset('/img/profil.jpg') }}'/>
            <span>
                <hr class='hr_title'>
            </span>
        <div>
            <h1 >Dimitri Klopfstein</h1>
            <h3>développeur web et mobile</h3>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor nibh. Sed et elementum mi. Etiam mattis faucibus mi et consequat. Vivamus at elementum diam. Nunc dignissim sodales purus ut egestas. Cras pulvinar mauris nec nisi pulvinar, et laoreet ligula cursus. Proin quis nulla ut leo consectetur posuere. Maecenas ac consequat sapien, quis rhoncus ipsum. Vivamus mattis iaculis volutpat. Duis euismod pharetra felis, id finibus arcu tempus vel. Nam vel semper libero. Pellentesque consequat viverra velit, vitae congue odio consectetur quis. Nunc venenatis neque nec leo laoreet semper. Phasellus rhoncus quam nec ex aliquam laoreet. Integer at diam bibendum, laoreet eros sed, consectetur lectus.</p>
            </div>
        </div>
    </section>

    <div class="view_project">
        <span>voir les projets</span>
        <img  src='{{ asset('/img/icon-arrow.png') }}'/>
    </div>
    
   {# Aperçu projets#}
    <section ><br>   
        <div class="titles title_work" 
             data-aos="fade-right" 
             data-aos-duration="1000"
             data-aos-easing="ease-in-sine">
            <hr class="project"/>
            <div class="title_h2">
                <h2>Work work work ...</h2>
            </div>       
        </div>
        <div class="projets_all">
            <div class="box">  
                <div class="box1">
                    <div class="projet projet1 image">    
                        {% for projet in project1 %}
                        <a class="projet_linkPage" href="{{ path('displayProject',{'id':projet.id}) }}" >
                        <img src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="">
                        <div class="image__title">                       
                            <p class="projet_name">{{ projet.name | u.truncate(20, '...') }}</p> 

                        </div></a> 
                        {% endfor %}
                    </diV>
                    <div class="projet projet2 image">    
                        {% for projet in project3 %}
                        <a class="projet_linkPage" href="{{ path('displayProject',{'id':projet.id}) }}" >
                        <img src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="">
                        <div class="image__title">                       
                            <p class="projet_name">{{ projet.name | u.truncate(20, '...') }}</p> 
                        </div> </a> 
                        {% endfor %}
                    </div>
                </div>
                <div class="box2">
                    <a href="/project">
                    <div class="all_project">
                        <p>En voir plus </p>
                    </div></a>
                    <div class="projet projet3 image">    
                        {% for projet in project2 %}
                        <a class="projet_linkPage" href="{{ path('displayProject',{'id':projet.id}) }}" >
                        <img src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="">
                        <div class="image__title">                       
                            <p class="projet_name">{{ projet.name | u.truncate(20, '...') }}</p> 
                        </div></a>  
                        {% endfor %}
                    </div>
                </div>
            </div>                       
      </div>  
    </section>

{# Invitation page Contact #}      
<section>   
    <div class="titles title-contact" 
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine">
        <hr class=""/>
        <div class="title_h2">
            <h2>Ca vous à plus?</h2>
        </div>       
    </div>
    <br>
    <div class="intro_contact">
        <p >Ceci n'est que le début, j'ai encore pleins de chose à montrer. <br/>
        N'hésiter pas à aller voir ce qui se cache <a href="/project"><span>ici</span>?</a></p>
    </div>
</section>
  
{% endblock %}



