{% extends 'base.html.twig' %}
{% block title %}Page d'acceuil{% endblock %}
{% block body %}
    {# Header #}
    <section class="animate__animated animate__fadeInLeft">
        <img src='{{ asset('/img/profil.jpg') }}'/>
            <span>
                <hr>
            </span>
        <div >
            <h1 >Dimitri Klopfstein</h1>
            <h3>développeur web et mobile</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor nibh. Sed et elementum mi. Etiam mattis faucibus mi et consequat. Vivamus at elementum diam. Nunc dignissim sodales purus ut egestas. Cras pulvinar mauris nec nisi pulvinar, et laoreet ligula cursus. Proin quis nulla ut leo consectetur posuere. Maecenas ac consequat sapien, quis rhoncus ipsum. Vivamus mattis iaculis volutpat. Duis euismod pharetra felis, id finibus arcu tempus vel. Nam vel semper libero. Pellentesque consequat viverra velit, vitae congue odio consectetur quis. Nunc venenatis neque nec leo laoreet semper. Phasellus rhoncus quam nec ex aliquam laoreet. Integer at diam bibendum, laoreet eros sed, consectetur lectus.</p>
        </div>
    </section>

    <div class="view_project">
        <span>voir les projets</span>
        <img src='{{ asset('/img/icon-arrow.png') }}'/>
    </div>
   {# Aperçu projets#}
    <section data-aos="fade-right" >   
        <div class="home_projects">
            <hr/>
            <div class="title_h2">
                <h2>Work work work ...</h2>
                <span>Work work work ...</span>
            </div>
            <div class="section_project">
                {% for project in projects %}
                    <div class="box_project">
                        <img style="" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="">
                        <div class="projet_contents">
                            <p class="projet_name">{{ project.name }}</p>
                            <p class="projet_description">{{ project.description | u.truncate(110, '...') }}</p>
                            {% for technology in project.technology %}
                                {{ technology.name }}
                            {% endfor %}                          
                            <a class="projet_linkPage" href="{{ path('displayProject',{'id':project.id}) }}" >En savoir plus </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
   {# Invitation page Contact #}
    <section data-aos="fade-left"  >   
        <div   class="intro_contact">
            <hr/>
            <div class="title_h2 title_contact" >
                <h2>Ça vous à plus?</h2>
                <span>Ça vous à plus?</span>
            </div>
            <p class="intro_contact-text">Ceci n'est que le début, j'ai encore pleins de chose à montrer.. T"est aller voir ce qui se cache <a href="/project">ici ?</a></p>
        </div>
    </section>
{% endblock %}



