{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}



<div class="titles">
 <hr class="project"/>
    <div class="title_h2">
        <h2>Contact</h2>
        <span>Contact</span>
    </div>       
</div>

<section class="content_contact">
    <div class="information">
        <p>Pour une question où juste envie <br/> d'une discution</p>
        <div>
            <span><ion-icon name="mail-outline" class="icon_contact"></ion-icon>john.smith@gmail.com</span>
            <span><ion-icon name="call-outline" class="icon_contact phone"></ion-icon>01 02 03 04 11 33</span>
        </div>
    </div>

   
    <div class="section-form">
    <div class="form">
    {{ form_start(form) }}
        <span>
            {{ form_row(form.nom, {"attr": {'style':'margin-right:40px;'},"label":"NOM"}) }}
        </span>
        <span>
            {{ form_row(form.prenom, {"attr": {'style':'margin-right:40px;'},"label":"PRÉNOM"}) }}
        </span>
        <span>
            {{ form_row(form.email, {"attr": {'style':'margin-right:30px;'},"label":"EMAIL"}) }}
        </span>
        <span>
            {{ form_row(form.message, {"attr": {'style':'margin:4px;'},"label":"MESSAGE"}) }}
        </span>
    {{ form_end(form) }}
    </div>
    </div>

</section>

{% endblock %}
