{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}



<div class="titles">
 <hr class="project"/>
    <div class="title_h2">
        <h2>Contact</h2>
        <span>Contact</span>
    </div>       
</div>

<section class="content_contact">
    <div class="information">
        <p>Pour une question où juste envie <br/> d'une discution</p>
        {% for user in users %}
            <div>
                <span><ion-icon name="mail-outline" class="icon_contact"></ion-icon>{{ user.email }}</span>
                <span><ion-icon name="call-outline" class="icon_contact phone"></ion-icon>{{ user.phone }}</span>
            </div>
        {% endfor %}
    </div>

   
    {{ form_start(form) }}
    <div>
        <span>
            {{ form_row(form.nom, {"attr": {'style':'margin-right:40px;'},"label":"NOM"}) }}
        </span>
        <span>
            {{ form_row(form.prenom, {"attr": {'style':'margin-right:40px;'},"label":"PRÉNOM"}) }}
        </span>
        <span>
            {{ form_row(form.email, {"attr": {'style':'margin-right:30px;'},"label":"EMAIL"}) }}
        </span>
        <span>
            {{ form_row(form.message, {"attr": {'style':'margin:4px;'},"label":"MESSAGE"}) }}
        </span>
    </div>
    {{ form_end(form) }}

</section>

{% endblock %}
