<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
        {% endblock %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    </head>
    <body>
        <header>
            <a href="/">
            <div class="logo">
                <span class="circle">J</span>
                <span><p>Abdellah Skoundri</p></span>
            </div>
            </a>    
            <div class="link">
                <div class='item_logo'> <a href="#"><img src='{{ asset('img/Icon-linkedin.png') }}'/><span>Linkedin</span></a></div>
                <div class='item_logo'> <a href="#"><img src='{{ asset('img/Icon-github.png') }}'/><span>Github</span></a></div>
            </div>
        </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projet</a></li>
            <li><a href="/contact">Contact</a></li>  
        </ul>
    </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {{ encore_entry_script_tags('app') }}

    
        {% block javascripts %}{% endblock %}
    </body>
</html>
