{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h2> Page projet</h2>
{% for project in projects %}
    <p>{{ project.name }}</p>
    <div>
        <img style="width: 200px; height:200px;" src="{{ project.image }}" alt="">
    </div>
    <p>{{ project.description }}</p>
    <a href="{{ project.websiteUrl }}">{{ project.websiteUrl }}</a><br>
    <a href="{{ project.repoUrl }}">{{ project.repoUrl }}</a><br>
    <a href="{{ path('displayProject',{'id':project.id}) }}" >{{ project.name }}</a>


{% endfor %}
{% endblock %}
