{% extends 'base.html.twig' %}

{% block title %}Page project{% endblock %}

{% block body %}

<div class="titles">
    <hr class="project"/>
    <div class="title_h2">
        <h2>Projet {{ project.name }}</h2>
        <span>Projet {{ project.name }}</span>
    </div>       
</div>

<section class="singleProjet_content">
    <div class="singleProjet">
        <img  src="{{ project.image }}" alt=" aperçu projet {{ project.name }}">
        <div class="singleProjet_description">
            <hr />
            <h3>Concept</h3>
            <p>{{ project.description }}</p>
        </div>
        <div class="singleProjet_details">
            <div class="singleProjet_links">
                <span>
                <ion-icon name="globe-outline"></ion-icon><a href="{{ project.websiteUrl }}">{{ project.websiteUrl }}</a>
               </span>
               <span>
                <ion-icon name="logo-github"></ion-icon><a href="{{ project.repoUrl }}">{{ project.repoUrl }}</a>
                </span>
            </div>
            <div class="singleProjet_tech">
                <hr/>
                <h3>Technologies</h3>
                <ul>
                    <li>React JS</li>
                    <li>Javascript</li>
                </ul>
            </div>
        </div>
    <div class="back">
        <a href="/project"> < Retour aux projets</a>
    </div>
    </div>
</section>

{% endblock %}
